
{% extends 'base.html.twig' %}
{% block body %}

    <div class="relative">
        <div class="absolute mx-16 left-1 items-center pl-4 ">
            <ul class="list-disc ">
            {% for Radio in RadioList %}
                <li class="text-xl">{{Radio.name}} {{Radio.frequency}}</li>
            {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}